<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome to the Group</title>
</head>
<body>
    <p>Hi <strong th:text="${username}"></strong>,</p>

    <p>We are excited to let you know that you have been added to the group '<strong th:text="${groupName}"></strong>'.</p>

    <p><b>Group Name:</b> <strong th:text="${groupName}"></strong></p>

    <p>In this group, you can track and manage shared expenses. We encourage you to check out the group's page to see what's new and get involved.</p>

    <p>If you have any questions or need assistance, feel free to reach out to us.</p>

    <p>Welcome aboard!<br>Best regards,<br>The SplitBills Team</p>
</body>
</html>
